# Environnements virtuels
.venv/

# Dépendances / lock caches (uv, pip, etc.)
__pycache__/
*_cache
*.py[cod]
*.pyo
*.egg-info/
.installed.cfg

# Bases de données locales
data/chroma_db/
data/*.png

# Creds
.env